<html>
        <link rel="stylesheet" href="style.css">
<head>
     <a href="/" style="font-size: 40px">Home</a>
     <a href="/listtasks" style="font-size: 40px">List Tasks</a>
</head>
<body>
    <form action="/data" method="POST">
        Task Name:
        <input type="text" name="TaskName" /> </br>
        Task Due:
        <input type="text" name="TaskDue" /> </br>
        Task Desc:
        <input type="text" name="TaskDesc" /> </br>
        Task Inf:
        <input type="text" name="TaskInf" /> </br>
        <button>Submit</button>
    </form>
</body>
</html>